body{
	word-break:break-all;/*自動換行*/
}
.div-button-area{	
	margin-bottom: 10px; 
}
.div-search{
	margin-bottom: 10px; 
}
.form-horizontal .panel-info .panel-heading {
	color: #777;
    background-color: #DDD;
    border-color: #dddddd;
}
.top-block-fix {	
	background: linear-gradient(to top,rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
}

/**** PBT ****/
.form-control-fullwidth {
	width: 100% !important;
}
#exTab1 .tab-content {
  color : #428bca;
  background-color: white;
  padding : 5px 15px;
}
#exTab2 h3 {
  color : #428bca;
  background-color: white;
  padding : 5px 15px;
}
#exTab1 .nav-pills > li > a {
  border-radius: 0;
}
#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}
#exTab3 .tab-content {
  color : #428bca;
  background-color: white;
  padding : 5px 15px;
}
.table > tbody > tr.dept_subtotal > td {
   background-color: #fcf8e3;
}
.table > tbody > tr > td.diff_highlight {
	border: 3px double orange;
}
@media (max-width: 767px) {
#assistModal .form-inline .form-control {
   display: inline-block;
   width: auto;
   vertical-align: middle;
}
}