<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Services -->
	<bean id="serviceParent" abstract="true" class="com.fb.service.impl.ServiceImpl">
		<property name="serviceFactory" ref="serviceFactoryProxy" />
		<property name="fbDao" ref="daoFB" />
	</bean>
	<bean id="serviceProxyParent" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="txmFB" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED, -Exception,-org.springframework.dao.DataAccessException</prop>
			</props>
		</property>
	</bean>

	<!-- Service Factory -->
	<bean id="serviceFactoryProxy" class="com.fb.service.impl.ServiceFactoryImpl" />

	<!-- Services -->
	<bean id="Common" parent="serviceParent" scope="singleton" class="com.fb.service.impl.CommonServiceImpl" />
	<bean id="CommonProxy" parent="serviceProxyParent">
		<property name="target" ref="Common" />
	</bean>
	
	<bean id="Authentication" parent="serviceParent" scope="singleton" class="com.fb.service.impl.AuthenticationServiceImpl" />
	<bean id="AuthenticationProxy" parent="serviceProxyParent">
		<property name="target" ref="Authentication" />
	</bean>

	<bean id="Account" parent="serviceParent" scope="singleton" class="com.fb.service.impl.AccountServiceImpl" />
	<bean id="AccountProxy" parent="serviceProxyParent">
		<property name="target" ref="Account" />
	</bean>

	<bean id="Func" parent="serviceParent" scope="singleton" class="com.fb.service.impl.FuncServiceImpl" />
	<bean id="FuncProxy" parent="serviceProxyParent">
		<property name="target" ref="Func" />
	</bean>

	<bean id="Customer" parent="serviceParent" scope="singleton" class="com.fb.service.impl.CustomerServiceImpl" />
	<bean id="CustomerProxy" parent="serviceProxyParent">
		<property name="target" ref="Customer" />
	</bean>

	<bean id="Product" parent="serviceParent" scope="singleton" class="com.fb.service.impl.ProductServiceImpl" />
	<bean id="ProductProxy" parent="serviceProxyParent">
		<property name="target" ref="Product" />
	</bean>

	<bean id="Factory" parent="serviceParent" scope="singleton" class="com.fb.service.impl.FactoryServiceImpl" />
	<bean id="FactoryProxy" parent="serviceProxyParent">
		<property name="target" ref="Factory" />
	</bean>

	<bean id="QryPrice" parent="serviceParent" scope="singleton" class="com.fb.service.impl.QryPriceServiceImpl" />
	<bean id="QryPriceProxy" parent="serviceProxyParent">
		<property name="target" ref="QryPrice" />
	</bean>

	<bean id="Offer" parent="serviceParent" scope="singleton" class="com.fb.service.impl.OfferServiceImpl" />
	<bean id="OfferProxy" parent="serviceProxyParent">
		<property name="target" ref="Offer" />
	</bean>

	<bean id="Purchase" parent="serviceParent" scope="singleton" class="com.fb.service.impl.PurchaseServiceImpl" />
	<bean id="PurchaseProxy" parent="serviceProxyParent">
		<property name="target" ref="Purchase" />
	</bean>

	<bean id="Stock" parent="serviceParent" scope="singleton" class="com.fb.service.impl.StockServiceImpl" />
	<bean id="StockProxy" parent="serviceProxyParent">
		<property name="target" ref="Stock" />
	</bean>

</beans>
